[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-filter = "*"
django-cors-headers = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
